<div class="floatinfo">
    <i></i> Liên hệ <a href="tel:0835116669">0835116669</a> để được tư vấn và hỗ trợ
</div>
<div class="floatinfo mobile">
    <a href="tel:0835116669"><i></i> 0835116669</a>
</div>