@model Nop.Web.Models.Common.SocialModel

<ul class="networks">
	@if (!string.IsNullOrEmpty(Model.FacebookLink))
	{
		<li class="facebook"><a href="#" target="_blank">@T("Footer.FollowUs.Facebook")</a></li>
	}
	@if (!string.IsNullOrEmpty(Model.YoutubeLink))
	{
		<li class="youtube"><a href="#" target="_blank">@T("Footer.FollowUs.Youtube")</a></li>
	}
	@if (!string.IsNullOrEmpty(Model.GooglePlusLink))
	{
		<li class="google-plus"><a href="#" target="_blank">@T("Footer.FollowUs.GooglePlus")</a></li>
	}
</ul>