@model ProductDetailsModel.ProductPriceModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@if (!Model.CustomerEntersPrice)
{
    <div class="prices" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <div class="product-price call-for-price">
            <span>@T("Products.CallForPrice")</span>
            <div class="call-for-price-box">
                <a class="call-phone" href="tel:0835116669"><img width="32" height="32" src="~/Themes/DefaultClean/Content/images/tel.jpg" />Điện thoại: <b>0835116669</b></a>
                <a class="call-skype" href="skype:mayphanloai@gmail.com?call"><img width="32" height="32" src="~/Themes/DefaultClean/Content/images/skype.jpg" />Skype: <b>mayphanloai</b></a>
                <a class="call-zalo" href="javascript:;"><img width="32" height="32" src="~/Themes/DefaultClean/Content/images/zalo.jpg" />Zalo: <b>0905689688</b></a>
                <a href="https://m.me/1465152296846770">
                    <img width="32" height="32" src="~/Themes/DefaultClean/Content/images/fb-messenger.png" /><b>Facebook Messenger</b>
                </a>
            </div>
            <style>
                .call-for-price-box {
                }

                    .call-for-price-box a {
                        display: block;
                        font-size: 14px;
                        font-weight: normal;
                        margin: 10px 0;
                    }

                        .call-for-price-box a img {
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 10px;
                            width: 24px;
                            height: 24px;
                        }
            </style>
        </div>
    </div>
}